@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap');

body {
    background-color: lightblue;
}

h1, h2 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}

nav > a {
    float: right;
    margin-top: -45px;
    margin-right: 45px;
    text-transform: uppercase;
}

.login {
    background-color: lightgray;
    width: 50%;
    margin: 0 auto;
    box-sizing: border-box;
}

.question>div {
    margin: 15px 0;
}

.question {
    font-family: "Open sans", sans-serif;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px 15px;
    margin-bottom: 15px;
    background-color: lightgray;
}

/*to get first three questions on the same row and last three on another row*/

#one,
#two,
#three {
    display: inline-block;
    width: 29%;
    margin-left: 20px;
}

#four,
#five,
#six {
    display: inline-block;
    width: 29%;
    margin-left: 20px;
}

button {
    padding: 10px 15px;
    text-transform: uppercase;
    margin-top: 10px;
}

/* Media queries */

/* For larger to medium screens size from 1300px wide and down */

@media screen and (max-width: 1300px) {

    #one,
    #two {
        display: inline-block;
        width: 43%;
    }

    #three,
    #four {
        display: inline-block;
        width: 43%;
    }

    .question {
        padding: px, 0;
    }

    #five,
    #six {
        display: inline-block;
        width: 43%;
    }
}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 1030px) {

    #one,
    #two,
    #three,
    #four,
    #five,
    #six {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        margin-left: 0;
    }

}
